# Python venvs
.venv/
.venv310/
venv/
env/
ENV/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Data (big local datasets)
data/*
!data/.gitkeep

m5-forecasting-accuracy/*
!m5-forecasting-accuracy/.gitkeep

app/data_cleaned/*
!app/data_cleaned/.gitkeep

outputs/*
!outputs/.gitkeep

# Large PDFs / docs
Module C.pdf
Module_B.pdf
Module_A.pdf

# Parquet / tmp
*.parquet
*.tmp
*.log
