# venv
.venv/
.venv310/
venv/
env/

# data - keep only placeholders
data/*
!data/.gitkeep

# m5 raw big Kaggle files
m5-forecasting-accuracy/*
!m5-forecasting-accuracy/.gitkeep

# cleaned data
app/data_cleaned/*
!app/data_cleaned/.gitkeep

# notebooks cache
.ipynb_checkpoints/
__pycache__/

# big PDFs
Module*.pdf

# outputs
outputs/
